{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tibia Character Manager</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div className="bg-blue-500 text-white p-4">
      This is a Tailwind CSS component2!
    </div>

    <h1 class="text-3xl font-bold underline">Hello, world!</h1>
    <div id="root"></div>
    <script src="{% static 'frontend/build/static/js/main.2e00a52a.js' %}"></script>
  </body>
</html>
